<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6 mb-5">
            <app-seleccionar-cliente [nombre]="this.clienteSeleccionado.nombre"
                                     (selecciono)="asignarCliente($event)"
                                     (cancelo)="eliminarCliente()"
                                     >
            </app-seleccionar-cliente>
            <div class="from-control">
                <h4>Precio</h4> 
                <select [(ngModel)]="idprecio" (change)="selecionarPrecio($event.target.value)"class="form-control" id="">
                    <option [value]="null">Seleccione un precio </option>
                    <option *ngFor="let precio of precios" [value]="precio.id" value="1">{{precio.nombre}}</option>
                </select>
               
            </div>
            <div class="from-control">
                <label for="">Fecha de inicio</label>
                <input class="form-control" [value]="inscripcion.fecha | date"   type="text" name="" id="" disabled>
            </div>
            <div class="from-control">
                <label for="">Fecha de Finalizacion</label>
                <input  class="form-control" disabled type="text"  [value]="inscripcion.fechaFinal | date" name="" id="">
            </div>
            <div class="from-control">
                <label for="">SubTotal</label>
                <input  class="form-control" disabled type="number"  [value]="inscripcion.subtotal" name="" id="">
            </div>   
            <div class="from-control">
                <label for="">Iva</label>
                <input  class="form-control" disabled type="number"  [value]="inscripcion.iva " name="" id="">
            </div>   
            <div class="from-control">
                <label for="">Total</label>
                <input  class="form-control" disabled type="number"  [value]="inscripcion.total " name="" id="">
            </div>   
         
        
        </div>
        
            <div class="col-sm-3  offset-md-2">
          <div *ngIf="clienteSeleccionado.imgUrl" class="imgCliente">
            <img [src]="clienteSeleccionado.imgUrl" alt="..." class="img-thumbnail">
          </div>
        </div>
        
        



    </div>
 
        <div class="col-sm-4  offset-sm-6">
            <button class="btn btn-primary" (click)="guardar()">Guardar</button>
        </div>
        
</div>
