<div class="container mt-5">
    <h4>Listado de Clientes</h4>
    
       
   
        <form class="form-inline">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input type="text" class="form-control" placeholder="Buscar Cliente" aria-label="Username" aria-describedby="basic-addon1">
          </div>
        </form>
      
        

    <div class="row mt-4">

        <div class="col-sm-3" *ngFor="let Cliente of clientes">
            <div class="card" >
                <img [src]="Cliente.imgUrl" class="card-img-top rounded-circle imgCliente " alt="...">
                <div class="card-body">
                  <p>{{Cliente.id}}</p>
                  <h5 class="card-title">{{Cliente.nombre}} {{Cliente.apellido}}</h5>
                  
                  <a [routerLink]="['/agregarCliente/',Cliente.id]" class="card-link">Editar</a>
                  <a href="#" class="card-link text-danger">Desactivar</a>
                </div>
              </div>
        </div>
        

    </div>
</div>